<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% include 'navbar.html' %}
      <div class="container">
        <div>
          {% if task %}
          <div class="d-flex">
            <h4 class="flex-grow-1">{{task.title}}</h4>
            <button class="btn btn-outline-danger">Edit</button>
          </div>
          <div class="card my-2"><div class="m-2">{{task.text}}</div></div>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
