<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% include 'navbar.html' %}
      <div class="container">
        <div class="d-flex">
          <h5 class="flex-grow-1">Users</h5>
          <button onclick="location.href='/users/mode/add'" class="btn btn-outline-primary">Add</button>
        </div>
        <div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {% for user in users %}
              <div class="d-flex">
                <div></div>
                <div>
                  <a href="#" style="color: black"><h5>{{ user.users_uid }}</h5></a>
                </div>
                <div class="mx-3">{{ user.user_name }}</div>
                <div class="mx-3">{{ user.department_name }}</div>
              </div>
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
