<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% include 'navbar.html' %}
      <div class="container">
        <h4>Users</h4>
        <div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="d-flex">
                <div>
                  <a href="/users/<%= users[i]._id %>" style="color: black"
                    ><h5><%= users[i].user_name %></h5></a
                  >
                </div>
                <div class="mx-3">(<%= users[i].id %>)</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
