<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% include 'navbar.html' %}

      <div class="container">
        <div class="d-flex">
          <h4 class="flex-grow-1">Works</h4>
          <button
            onclick="location.href='/works/mode/add'"
            class="btn btn-outline-primary"
          >
            Add
          </button>
        </div>
        <div class="d-flex">
          <input
            type="text"
            class="form-control my-2 mx-2"
            name="due"
            id="search-text"
            autocomplete="off"
            value="{{search_text}}"
          />
          <button id="search" class="btn btn-primary my-2">Search</button>
        </div>
        <div>
          <table width="100%">
            <tbody>
              <tr>
                <td><h5>Title</h5></td>
                <td width="100">User</td>
                <td width="200">Created</td>
                <td width="30">Status</td>
              </tr>
              {% if works %} {% for work in works %}
              <!-- works completed -->
              <tr>
                <td>
                  <h5>
                    <a href="/works/{{work.work_id}}" style="color: black"
                      >{{ work.title }}</a
                    >
                  </h5>
                </td>
                <td>{{ work.user_name }}</td>
                <td>{{ work.works_time }}</td>
                <td>
                  {% if work.is_done %}
                  <h5 class="text-primary font-weight-bold">&nbsp;&#128504;</h5>
                  {% else %}
                  <h5>&#183;&#183;&#183;</h5>
                  {% endif %}
                </td>
              </tr>

              {% endfor %} {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $("input[type=text]").on("keyup", function (e) {
        if (e.key == "Enter" || e.keyCode === 13) {
          $("#search").trigger("click");
        }
      });
      $("#search").click(() => {
        console.log($("#search-text").val());
        location.href = `/works?q=${$("#search-text").val()}`;
      });
    </script>
  </body>
</html>
