<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% include 'navbar.html' %}
      <div class="container">
        <h4>Users</h4>
        <div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {% if works %} {% for work in works %}
              <div class="d-flex">
                <div></div>
                <div>
                  <a href="#" style="color: black"><h5>{{ work.id }}</h5></a>
                </div>
                <div class="mx-3">{{ work.title }}</div>
                <div class="mx-3">{{ work.create_datetime }}</div>
              </div>
              {% endfor %} {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
