<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {% include 'navbar.html' %}
      <div class="container">
        <div class="d-flex">
          <h4 class="flex-grow-1">Works</h4>
          <button onclick="location.href='/works/mode/add'" class="btn btn-outline-primary" >Add</button>
        </div>
        <div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              {% if works %} {% for work in works %}
              <div class="d-flex">
                <div>
                  <a href="/works/{{work.work_id}}" style="color: black"
                    ><h5>{{ work.title }}</h5></a
                  >
                </div>
                <div class="mx-3">{{ work.user_name }}</div>
                <div class="mx-3">{{ work.create_datetime }}</div>
              </div>
              {% endfor %} {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
